beautifulsoup4==4.13.2
blinker==1.9.0
bs4==0.0.2
certifi==2025.6.15
charset-normalizer==3.4.2
click==8.1.7
Flask==3.1.1
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
lxml==6.0.0
MarkupSafe==3.0.2
requests==2.32.4
soupsieve==2.7
urllib3==2.5.0
